<!DOCTYPE html>
<html>

<head>
    <title>{{.Title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@1.5.0/dist/htmx.min.js"></script>
</head>

<body class="bg-gray-100">
    <div class="container mx-auto p-8">
        <h1 class="text-3xl font-semibold">{{.Header}}</h1>
        <p class="my-4">{{.Body}}</p>
    </div>
    <div class="flex">
        <div class="w-1/2 p-4">
            <div class="px-4 py-2 my-2 bg-blue-400 text-white rounded">Available Bitwise</div>
            <div hx-get="/bitwise_list" hx-trigger="new_bitwise from:body, load"
                class="px-4 py-2 bg-white text-white rounded"></div>

            <button hx-get="/bitwise_test_post" hx-target="#bitwise_test_post"
                class="mt-4 px-4 py-2 bg-blue-500 text-white rounded">Add new bitwise</button>
            <div id="bitwise_test_post" class="mt-4"></div>
        </div>
        <div class="w-1/2 p-4 bg-white border-l">
            <div class="px-4 py-2 my-2 bg-blue-400 text-white rounded">Combinations</div>
            <div hx-get="/combinations" hx-trigger="new_bitwise from:body, load" class="px-4 py-2 bg-gray-100 rounded">
            </div>
        </div>
    </div>
</body>


</html>