<!DOCTYPE html>
<html>

<head>
    <title>{{.Title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@1.5.0/dist/htmx.min.js"></script>
</head>

<body class="bg-gray-100">
    <div class="container mx-auto p-8">
        <h1 class="text-3xl font-semibold">{{.Header}}</h1>
        <p class="my-4">{{.Body}}</p>
    </div>
    <div class="flex">
        <div class="w-1/2 p-4">
            <button hx-get="/bitwise_list" hx-target="#bitwise_list" hx-trigger="new_bitwise from:body"
                class="px-4 py-2 bg-blue-500 text-white rounded">List Available Bitwise</button>
            <div id="bitwise_list" class="mt-4"></div>

            <button hx-get="/bitwise_test_post" hx-target="#bitwise_test_post"
                class="mt-4 px-4 py-2 bg-blue-500 text-white rounded">Add new bitwise</button>
            <div id="bitwise_test_post" class="mt-4"></div>
        </div>
        <div class="w-1/2 p-4 bg-white border-l">
            <button hx-get="/combinations" hx-target="#combinations" hx-trigger="new_bitwise from:body"
                class="px-4 py-2 bg-blue-500 text-white rounded">Regenerate Combinations</button>
            <div id="combinations" class="mt-4"></div>
        </div>
    </div>
</body>


</html>